body {
    padding: 0;
    height: 0;
}

#relato {
    color: red;
    padding: 2rem;
    text-align: center;
}


ul {
    background-color: magenta;
    color: white;
}


.paragrafo {
    padding: 4px;
    background-color: black;
    color: aqua;
    text-align: center;
    opacity: 90%;
}

.color-name {
    padding: 4px;
    size: 5rem;
    text-align: center;
    color: #55a398;
}

.img-position,
.img-position-2 {
    background-image: url("../image/01.jpg");
    height: 400px;
    width: 400px;
}

/* .umg-position {
    background-position: center;
    background-size: cover;
    background-repeat: unset;
}

.height-width {
    height: 200px;
    width: 100px;
    background-color: crimson;
}

.height-width-2 {
    height: 300px;
    background-color: #333;

} */


.without-padding,
.padding {
    background-color: #111;
    color: aliceblue;
}

.padding {
    padding-bottom: 15px;
}

.shorthand {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}


.shorthand-2 {
    background-color: #555;
    padding: 10px 20px;
    text-align: center;
}