body {
    padding: 0;
    height: 0;
}

#relato {
    color: red;
    padding: 2rem;
    text-align: center;
}


ul {
    background-color: magenta;
    color: white;
}


.paragrafo {
    padding: 4px;
    background-color: black;
    color: aqua;
    text-align: center;
}