body {
    padding-bottom: 500px;
}

/* 1 - flex */
.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 1 - flex column */
.flex-column {
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    margin-bottom: 20px;
}


/* 3-wrap */

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.bx {
    height: 40px;
    width: 33%;
    border: 1px solid red;
}


/*  Justify content */
.center,
.space-around, 
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
    
}

.center .bx,
.space-around .bx,
.space-between .bx,
.end .bx {
    width: 50px;
    border: 1px solid red;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}


/* align items */

.align-center,
.flex-end,
.stretch {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid blue;
}


.align-center .bx,
.flex-end .bx,
.stretch .bx {
    width: 50px;
}


.align-center {
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-items: flex-end;
}


.stretch {
    align-items: stretch;
}

.stretch .bx{
    height: auto;
}

/* gap */

.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .bx {
    width: 33%;
}

/* order */

.order {
    display: flex;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}

/* grow */
.grow {
    display: flex;
}

.grow .bx {
    flex: 1;
}

.grow .big {
    flex: 3;
}

/* basis */
.basis {
    display: flex;
}

.basis .bx {
    flex-basis: 20px;
}

.basis .big {
    flex-grow: 1;
}

/* shrink redução de acordo o tamanho da tela */

.shrink {
    display: flex;
}

.shrink .bx {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small {
    flex-shrink: 2;
}

/* flex shorthand */

.shorthand {
    display: flex;
    gap: 1rem;
}

.shorthand .bx {
    widows: auto;
    flex: 1 1 50px;
}

.shorthand .diferente {
    flex: 3 1 400px;

}

/* Auto alinhamento  para alinha itens de forma individual do flex*/

.auto-align {
    height: 300px;
    display: flex;
    align-items: flex-end;
    border: 1px solid purple;
}

.auto-align .diferente {
    align-self: center;
}